<h1>About</h1>
<p>
	Twotter, loosely based on Twitter,
	is a project I created to further my development skills with Ruby on Rails.
	You can create your own personal account with an avatar and post
	just about any content you like to share with other twotter users.
	</a>
</p>
