<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
	For further info about upcoming projects, please get in touch
	<a href="mailto:Rosshamilton.dev@gmail.com">Rosshamilton.dev@gmail.com</a>
	</a>.
</p>
