<h1>Help</h1>
<p>
	If you need help with anything regarding this app please, contact
	 me via email (available at the contact page).
	</a>
</p>
<p>
	Alternatively here is a
	<a href="https://github.com/SlipperyJ/sample_app">link</a>
	to the Twitter clone's source code.
</p>
