<h1>Help</h1>
<p>
	Get help about this app
	by contacting Ross via email (available at the contact page).
	</a>
</p>
<p>
	Alternatively here is a
	<a href="https://github.com/SlipperyJ/sample_app">link</a>
	to the Twitter clone app's source code.
</p>
