<footer class="footer">
  <small>
    My <a href="https://github.com/SlipperyJ/sample_app">Twitter clone</a>
    by <a href="https://github.com/SlipperyJ">Ross Hamilton</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://twitter.com/RossGHamilton">Twitter</a></li>
    </ul>
  </nav>
</footer>
